{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>{{ page_title }}</h2>
                    </div>
                    <p>Настоящите общи условия уреждат условията за използване на GILE.HOUSE, по-долу за краткост „уебсайта“.</p>
                    <p>
                        Уебсайтът се управлява от ГИЛЕ ООД с ЕИК : 201666822 по-долу за краткост „Оператор“. При необходимост можете да се свържете с нас посредством следните контакти:<br>
                        Е-майл: guest@gile.house, <br>
                        Телефон: 0885603446
                    </p>
                    <ol>
                        <li>
                            <h5>Интелектуална собственост</h5>
                            <p>Всички права върху интелектуалната собственост по отношение на информационните ресурси и съдържанието на уебсайта се Упражняват от Оператора. Същите са защитени от Закона за авторското право и сродните му права и всяко използване на съдържание от Уебсайта без съгласието на Оператора е нарушение на закона, от което може да последва гражданска, административно наказателна или наказателна отговорност. <bПри копиране или възпроизвеждане на информация вън от допустимото, както и при всяко друго нарушение на правата на интелектуална собственост върху ресурсите на Оператора, Операторът има правото да претендира обезщетение и за претърпените преки и косвени вреди в пълен размер.</p>
                        </li>
                        <li>
                            <h5>Ограничаване на отговорността</h5>
                            <p>Операторът предприема необходимите мерки, за да поддържа съдържанието на Уебсайта актуално, но не носи отговорност за действителната актуалност на същото. Във връзка с това Операторът не носи отговорност за вреди, в това число преки и косвени вреди, включително пропуснати ползи, които потребител на Уебсайта би понесъл при каквито и да е обстоятелства, свързани с публикуваното съдържание на Уебсайта и достъпа до същия. Използвайки Уебсайта, потребителите поемат всички рискове, свързани с това, включително всеки риск за крайни потребителски устройства, софтуер или данни на потребители <br>

                                Доколкото в съдържанието на Уебсайта се съдържат препратки към съдържание, позиционирано извън същия потребителят е запознат с факта, че Операторът няма контрол върху същото и не носи отговорност за последиците от активиране на препратки, водещи извън Уебсайта. <br>
                                Операторът не носи отговорност за злонамерени действия от страна на трети лица, обект на които би могъл да стане потребителя, при използване на Уебсайта. Потребителят използва Уебсайта на своя отговорност.</p>
                        </li>
                        <li>
                            <h5>Използване на уебсайта</h5>
                            <p>Доколкото Операторът е предвидил възможност за потребители да качват съдържание в Уебсайта, същите следва да не качват клеветническо, нецензурирано, обидно, порнографско или по друг начин незаконно или противоречащо на морала съдържание. <br>
                                Потребителите следва да използват Уебсайта добросъвестно, в това число да не предприемат злонамерени действия, които да могат да се отразят на достъпността на съдържанието за трети лица или използването на Уебсайта изобщо.</p>
                        </li>
                        <li>
                            <h5>Други</h5>
                            <p>Операторът запазва правото си да изменя настоящите общи условия по свое усмотрение като във всеки един момент актуалните условия за ползване на Уебсайта ще бъдат публикувани на същия. <br>
                                По всички неуредени от настоящите Общи условия въпроси се прилагат разпоредбите на действащото законодателство на Република България.</p>
                        </li>
                    </ol><br>
                    <i>Тези общи условия са изготвени с помощта на <a href="https://obshti-uslovia.com">https://obshti-uslovia.com</a></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}