{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>{{ page_title }}</h2>
                    </div>
                    <ol>
                        <li>
                            <h5>Информация за администратора на лични данни:</h5>
                            <p>ГИЛЕ ООД, е дружество, регистрирано в Търговския регистър на Агенцията по вписванията с:<br>
                                ЕИК: 201666822, <br>
                                Е-мейл: guest@gile.house,<br>
                                тел.: 0885603446</p>
                        </li>
                        <li>
                            <h5>Използване на бисквитки:</h5>
                            <p>Уеб сайтът използва бисквитки, които са важни за коректната му работа. Посещавайки нашия сайт, Вие приемате използването на бисквити. </p>
                        </li>
                        <li>
                            <h5>Основание за събиране, обработване и съхраняване на Вашите лични данни:</h5>
                            <p>Бисквитките са информация, която се предава от нашия уеб сървър или уеб сървъри на трети страни до уеб браузъра на потребителя и се съхранява там за по-късно извличане. Бисквитките могат да бъдат малки файлове или други видове съхранение на информация. <br>
                                Ние използваме „сесийни бисквитки“, които се съхраняват само в нашето онлайн присъствие за продължителността на текущото посещение. Генериран на случаен принцип уникален идентификационен номер, така нареченият идентификационен номер на сесията, се съхранява в бисквитката на сесията. Бисквитката съдържа също информация за нейния произход и периода на съхранение. Тези бисквитки не могат да запазват други данни. Сесийните бисквитки се изтриват, когато приключите с нашата онлайн сесия и напр. излезте или затворете браузъра.</p>
                        </li>
                        <li>
                            <h5>Изтриване на данни:</h5>
                            <p>Съхранените от нас данни ще бъдат изтрити веднага след като те вече не се изискват по предназначение и изтриването не противоречи на никакви законови изисквания за запазване. Ако данните на потребителя не бъдат изтрити, тъй като се изискват за други и правно допустими цели, обработката му ще бъде ограничена. Че данните ще бъдат блокирани и не се обработват за други цели. Това се отнася напр. за потребителски данни, които трябва да се съхраняват по търговски или данъчни причини.</p>
                        </li>
                        <li>
                            <h5>Събиране на данни за достъп и лог файлове:</h5>
                            <p>Въз основа на законните ни интереси по смисъла на чл. 6, ал. е. Данни за GDPR за всеки достъп до сървъра, на който се намира тази услуга (т. Нар. Лог файлове на сървъра). Данните за достъп включват името на достъпния уебсайт, файл, дата и час на достъп, количество прехвърлени данни, уведомяване за успешен достъп, тип и версия на браузъра, операционната система на потребителя, референтен URL адрес (по-рано посетената страница), IP адрес и искащият доставчик. <br>
                                От съображения за сигурност (например за разследване на злоупотреба или измама) информацията в лог файл се съхранява за максимум седем дни и след това се изтрива. Данни, чието по-нататъшно съхраняване е необходимо за целите на доказателствата, се изключват от изтриването, докато съответният инцидент не бъде окончателно изяснен.</p>
                        </li>
                        <li>
                            <h5>Права на потребителя:</h5>
                            <p>Потребителите имат право да изискват безплатно информация за личните данни, които сме съхранили за тях. <br>
                                Освен това потребителите имат право да коригират неточни данни, да ограничават обработката и изтриването на личните им данни, ако е приложимо, да упражняват правата си за преносимост на данните и в случай на незаконна обработка на данни да подадат жалба до отговорния надзорен орган. <br>
                                По същия начин потребителите могат да оттеглят съгласието си, обикновено с ефект за в бъдеще.</p>
                        </li>
                    </ol>



                </div>
            </div>
        </div>
    </div>
{% endblock %}