{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>{{ page_title }}</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">{{ page_statics.menu.home }}</a>
                            <span>{{ page_title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rooms-section spad">
        <div class="gallery-container">
            <div class="tz-gallery">
                <div class="row">
                    {% for image in images %}
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}" alt="Park">
                        </a>
                    </div>
                    {% endfor %}

                </div>
            <nav>
                  <ul class="pagination pagination-lg">
                      {% for page in pages %}
                        <li class="page-item {% if page == current_page %} disabled {% endif %}">
                          <a class="page-link" href="{% if page != current_page %}{% url 'gallerypage' num=page %}{% endif %}">{{ page }}</a>
                        </li>
                      {% endfor %}
                  </ul>
                </nav>
            </div>
        </div>
    </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}