{% extends 'base.html' %}
{% load static %}

{% block page %}
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>{{ page_sections.0.section_title }}</h1>
                        <p>{{ page_sections.0.section_description }}</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>{{ page_statics.page.home.book_form.book }}</h3>

                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <div id="inline">
                                <div class="check-date">
                                    <label for="{{ reservation_form.check_in.id_for_label }}">{{ page_statics.page.home.book_form.check_in }}:</label>
                                    {{ reservation_form.check_in }}
                                    <i class="icon_calendar"></i>
                                </div>
                                <div class="check-date">
                                    <label for="{{ reservation_form.check_out.id_for_label }}">{{ page_statics.page.home.book_form.check_out }}:</label>
                                    {{ reservation_form.check_out }}
                                    <i class="icon_calendar"></i>
                                </div>
                            </div>
                            {% if reservation_form.check_out.errors %}
                                <sup>{{ page_statics.validations.check_out }}</sup>
                            {% endif %}
                            <div class="check-date">
                                <label for="{{ reservation_form.name.id_for_label }}">{{ page_statics.page.home.book_form.name }}:</label>
                                {{ reservation_form.name }}
                            </div>
                            <div class="check-date">
                                <label for="{{ reservation_form.phone.id_for_label }}">{{ page_statics.page.home.book_form.phone }}:</label>
                                {{ reservation_form.phone }}
                            </div>
                            {% if reservation_form.phone.errors %}
                                <sup>{{ page_statics.validations.phone }}</sup>
                            {% endif %}
                            <div class="check-date">
                                <label for="{{ reservation_form.email.id_for_label }}">{{ page_statics.page.home.book_form.email }}:</label>
                                {{ reservation_form.email }}
                            </div>
                            {% if reservation_form.email.errors %}
                                <sup>{{ page_statics.validations.email }}</sup>
                            {% endif %}
                            <div id="inline">
                                <div class="select-option">
                                    <label for {{ reservation_form.adults.id_for_label }}>{{ page_statics.page.home.book_form.adults }}:</label>
                                    {{ reservation_form.adults }}
                                </div>
                                <div class="select-option">
                                    <label for {{ reservation_form.children.id_for_label }}>{{ page_statics.page.home.book_form.children }}:</label>
                                    {{ reservation_form.children }}
                                </div>
                            </div>
                            <sub>{{ page_statics.page.home.book_form.sub }}</sub>
                            <button type="submit">{{ page_statics.page.home.book_form.check_availability }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            {% for image in hero_gallery %}
                <div class="hs-item set-bg" data-setbg="{{ image.image.url }}"></div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>{{ page_statics.page.home.section.about_us }}</span>
                            <h2>{{ page_sections.1.section_title }}</h2>
                        </div>
                        <p class="f-para">{{ page_sections.1.section_description|linebreaks }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static "img/about/about-1.jpg" %}" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static "img/about/about-2.jpg" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>{{ page_statics.page.home.section.what_we_do }}</span>
                        <h2>{{ page_statics.page.home.section.services }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-010-newspaper"></i>
                        <h4>{{ page_statics.page.home.facilities.travel_plan.title }}</h4>
                        <p> {{ page_statics.page.home.facilities.travel_plan.description }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-016-washing-machine"></i>
                        <h4>{{ page_statics.page.home.facilities.laundry.title }}</h4>
                        <p> {{ page_statics.page.home.facilities.laundry.description }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-011-no-smoking"></i>
                        <h4>{{ page_statics.page.home.facilities.non_smooking_rooms.title }}</h4>
                        <p>{{ page_statics.page.home.facilities.non_smooking_rooms.description }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>{{ page_statics.page.home.facilities.parking.title }}</h4>
                        <p>{{ page_statics.page.home.facilities.parking.description }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-029-wifi"></i>
                        <h4>{{ page_statics.page.home.facilities.wifi.title }}</h4>
                        <p>{{ page_statics.page.home.facilities.wifi.description }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-002-breakfast"></i>
                        <h4>{{ page_statics.page.home.facilities.kitchen.title }}</h4>
                        <p>{{ page_statics.page.home.facilities.kitchen.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    {% for room in rooms %}
                        <div class="col-lg-3 col-md-6">
                            <div class="hp-room-item set-bg" data-setbg="{{ room.image.url }}">
                                <div class="hr-text">
                                   {% if language == 'bg' %}
                                         <h3>{{ room.title }}</h3>
                                       <h2><span>от </span>{{ room.min_price }}<span> до </span>{{ room.price }}<span> лв/ {{ page_statics.page.rooms.rooms_terms.0 }}</span>
                                    {% else %}
                                         <h3>{{ room.title_en }}</h3>
                                       <h2><span>from </span>{{ room.min_price }}<span> to </span>{{ room.price }}<span> BGN/ {{ page_statics.page.rooms.rooms_terms.0 }}</span>
                                    {% endif %}
                                    </h2>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.1 }}:</td>
                                            <td>{{ room.room_size }} m<sup>3</sup></td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.2 }}:</td>
                                            <td>Max {{ room.room_capacity }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.4 }}:</td>
                                            <td>
                                                {% if language == 'bg' %}
                                                    {{ room.room_services|truncatechars:50 }}
                                                {% else %}
                                                    {{ room.room_services_en|truncatechars:50 }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>{{ page_statics.page.home.section.testimonials }}</span>
                        <h2>{{ page_statics.page.home.section.what_customer_says }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        {% for review in reviews %}
                            <div class="ts-item">
                                {% if review.pros %}
                                    <p><b>Pros:</b> {{ review.pros }}</p>
                                {% endif %}
                                {% if review.cons %}
                                    <p><b>Cons:</b> {{ review.cons }}</p>
                                {% endif %}
                                <div class="ti-author">
                                    <div class="rating">
                                        {% for i in review.score %}
                                            <i class="icon_star"></i>
                                        {% endfor %}
                                    </div>
                                    <h5> - {{ review.name }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if reservation_submited %}
        <div id="snackbar" class="show">{{ page_statics.snackbar.booking }}</div>
        <script>
            window.onload = function () {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 5000);
            }
        </script>
    {% endif %}
{% endblock %}