{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>{{ page_statics.page.rooms.our_rooms }}</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">{{ page_statics.menu.home }}</a>
                            <span>{{ page_title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% for room in rooms %}
                    <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{ room.image.url }}" alt="">
                        <div class="ri-text">
                            {% if language == 'bg' %}
                            <h4>{{ room.title }}</h4>
                                <h3>{% if room.min_price < room.max_price %}<span>от </span>{{ room.min_price|floatformat:"0" }}<span> до </span>{% endif %}{{ room.max_price|floatformat:"0" }}<span> лв/ {{ page_statics.page.rooms.rooms_terms.0 }}</span></h3>
								{% else %}
                                <h4>{{ room.title_en }}</h4>
                                <h3>{% if room.min_price < room.max_price %}<span>from </span>{{ room.min_price|floatformat:"0" }}<span> to </span>{% endif %}{{ room.max_price|floatformat:"0" }}<span> BGN/ {{ page_statics.page.rooms.rooms_terms.0 }}</span></h3>
								{% endif %}
                             <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.1 }}:</td>
                                            <td>{{ room.room_size }} m<sup>3</sup></td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.2 }}:</td>
                                            <td>Max {{ room.room_capacity }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">{{ page_statics.page.rooms.rooms_terms.4 }}:</td>
                                            <td>
												{% if language == 'bg' %}
													{{ room.room_services }}
												{% else %}
													{{ room.room_services_en}}
												{% endif %}
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
{#                <div class="col-lg-12">#}
{#                    <div class="room-pagination">#}
{#                        <a href="#">1</a>#}
{#                        <a href="#">2</a>#}
{#                        <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
{% endblock %}